.btns{
    margin-left: 80vw;
    margin-bottom: 2vh;
}
.parentdiv{
display: flex;
vertical-align: center;
margin: auto;
width: 80vw;
margin-top:2vh ;
justify-content: space-around;
font-family:Arial, Helvetica, sans-serif
}
.inputedit{
    height: 20px;
    font-size: 16px;
    letter-spacing: .4px;
    text-shadow: inherit;
    border-radius: 3px;

}
img{
    border-radius: 10px;
    filter: grayscale(0.5);
    box-shadow: 0 0 0;
    transition: 400ms;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;

}
img:hover{
    filter: grayscale(0.5);
    box-shadow: 0 0 0;
    transition: 400ms;
    cursor: pointer;
}


@media screen and (max-width: 650px) {
   
    .parentdiv {
        display: flex;
        vertical-align: center;
        margin: auto;
        width: 80vw;
        margin-top:2vh ;
        justify-content: space-around;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 10px;
    }

    img{
        width: 100px;
        height: 100px;
     border-radius: 10px;
    filter: grayscale(0.5);
    box-shadow: 0 0 0;
    transition: 400ms;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;

    }

    

  }

  